In [2]:
import os
import re
import pandas as pd
import numpy as np

In [12]:
root_dir = './'
data = {}

for folder_name in os.listdir(root_dir):
    match = re.match(r"pred_(\w+)_\d+", folder_name)
    
    if match:
        dataset_name = match.group(1)
        score_file_path = os.path.join(root_dir, folder_name, "scores.txt")

        with open(score_file_path, 'r') as file:
            first_line = file.readline().strip()
            score_match = re.search(r"All Metric ([\d\.]+)", first_line)
            score = float(score_match.group(1))
            
            if dataset_name not in data:
                data[dataset_name] = []
            data[dataset_name].append(score)
            
df = pd.DataFrame.from_dict(data, orient='index')
df['Mean'] = df.mean(axis=1)
df['Std'] = df.std(axis=1)

df['Error (%)'] = (1 - df['Mean']) * 100
df['Std (%)'] = df['Std'] * 100

df.loc[['Twitter', 'Cyclone', 'House'], ['Error (%)', 'Std (%)']] = np.nan

df = df.reindex(['Moons', 'MNIST', 'Twitter', 'YearBook', 'Cyclone', 'House'])
df

,0,1,2,3,4,Mean,Std,Error (%),Std (%)
Moons,0.987800,0.973267,0.987867,0.972400,0.981867,0.980640,0.006742,1.93600,0.674179
MNIST,0.959933,0.972667,0.969867,0.968267,0.963267,0.966800,0.004596,3.32000,0.459584
Twitter,0.707306,0.723486,0.755861,0.681814,0.706394,0.714972,0.024397,NaN,NaN
YearBook,0.952252,0.948611,0.944699,0.946453,0.946722,0.947748,0.002571,5.22525,0.257137
Cyclone,15.920065,15.846646,15.656859,15.983905,16.417770,15.965049,0.251530,NaN,NaN
House,8.893908,8.897628,8.831752,8.906034,8.900716,8.886007,0.027417,NaN,NaN